.payment__form {
  margin: 2rem auto;
  width: 50%;
  text-align: center;
}
.select__box {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
}

.input {
  margin-right: 1rem;
}
.bank {
  width: 40%;
  margin: 0 auto;
  text-align: center;
}
@media only screen and (max-width: 650px) {
  .contact__form {
    padding: 4rem 2.5rem 6rem;
  }
}
